.sectionOne-aboutUs{
    padding: 2rem
}
.sec1-bg{
    background-image: url(../assets/aboutus-page-banner-sec1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUs-text-container{
    display: flex;
    flex-wrap: wrap;
}

.text-aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 50%;
}

.image-aboutUs{
    flex: 1 0 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 100%; */
}

.MuiTypography-root.sheikhoo-group-heading{
        font-size: 44px;
        line-height: 40px;
        font-weight: bold;
        font-family: 'noir_proheavy';
}