.banner-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.banner-image {
    width: 100%;
    height: auto; /* Allows height to adjust according to width */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.Steel_game_change{
    background-color: #333333;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20vh;
    font-family: 'noir_promedium';
}
