.melting-section-1 {
    position: relative; /* Create a positioning context */
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Hide any overflow caused by the zoom */
    scroll-snap-align: center;
}

.melting-section-1::before {
    content: '';
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Cover the entire parent */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: zoomBackground 120s infinite linear alternate; /* Adjust duration as needed */
    z-index: -1; /* Make sure it stays behind the content */
}

.melting-bg-1::before {
    background-image: url('../assets/melting-bg-1.jpg');
}

.melting-bg-2::before {
    background-image: url('../assets/melting-bg-2.jpg');
}

.melting-bg-3::before {
    background-image: url('../assets/melting-bg-3.jpg');
}

.melting-bg-4::before {
    background-image: url('../assets/melting-bg-4.jpg');
}

.melting-bg-5::before {
    background-image: url('../assets/melting-bg-5.jpg');
}
.rolling-bg-1::before {
    background-image: url('../assets/rolling-bg-1.jpg');
}

.rolling-bg-2::before {
    background-image: url('../assets/rolling-bg-2.jpg');
}

.rolling-bg-3::before {
    background-image: url('../assets/rolling-bg-3.jpg');
}

.rolling-bg-4::before {
    background-image: url('../assets/rolling-bg-4.jpg');
}

.rolling-bg-5::before {
    background-image: url('../assets/rolling-bg-5.jpg');
}

@keyframes zoomBackground {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    50% {
        transform: scale(1.4); /* Zoom in */
    }
    100% {
        transform: scale(1); /* Back to normal size */
    }
}

.MuiTypography-root.pageHeadingMelting {
    color: #cd0e2d;
    display: inline-block; /* Ensures the element only takes up the width of its content */
    position: absolute;
    font-family: 'noir_probold';
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0px;
    left: 15px;
}

.MuiTypography-root.pageHeadingMelting::after {
    content: '';
    display: block;
    border-style: solid;
    border-width: 0px 0px 7px 0px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    position: absolute;
    bottom: -6px;
}
.container-melting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: translateY(7vh);
    flex-direction: column ;
}

.textSectionMelting{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; /* Center horizontally */
    text-align: left; /* Center text alignment */
    padding: 0 1rem;
}
.imageSectionMelting{
    margin: auto; /* Center horizontally */
    text-align: left; /* Center text alignment */
    width: 100%;
    flex: 1 0 300px;
}

.MuiTypography-root.MeltingHeading{
    font-size: clamp(28px, 4vw, 46px);
    font-weight: 700;
    font-family: 'noir_proheavy';
    color: #cd0e2d;
    line-height: 1;
    text-align: left;
    width: 100%;
}

.MuiTypography-root.detailsMelting{
    padding-top: 5px;
    font-family: 'noir_promedium';
    font-size: clamp(13px, 3.5vw, 18px);
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
}

@media (max-width: 700px) {
    .MuiTypography-root.detailsMelting {
        line-height: 0.9;
    }
    .imageSectionMelting{
        max-width: 350px;
    }
    .MuiTypography-root.pageHeadingMelting {
        top: -150px
    }
}
