.logo-sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-sidebar img{
    max-width: 150px;
    padding: 10px;
}

.list-item-button {
    /* transition: color 0.7s; */
    transform-origin: left; 
}

.list-item-button:hover {
    color: red; /* Change text color to red on hover */
    transform: scale(1.2); /* Scale the button */
    transition: all 0.3s;
}