@font-face {
  font-family: 'Noir Pro Medium';
  src: url('./assets/fonts/FontsFree-Net-Noir_medium.ttf') format('truetype'); /* Update the path as necessary */
  font-weight: 400; /* Adjust weight as necessary */
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noir Pro Medium', Arial, sans-serif !important; /* Add Arial as a fallback */
}
